@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-[#232428] scroll-smooth duration-300 transition-all font-SFProText-400;
  }
}

@layer components {
  .link {
    @apply relative cursor-pointer text-lg font-SFProText-500 before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-full before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
      no-repeat;
    background-size: 100% 2px;
  }

  .tabPanel {
    @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
  }
}

::-webkit-scrollbar {
  @apply w-[5px] rounded-full bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-tr from-[#ec4899] to-[#8b5cf6] rounded-full;
}

@font-face {
  font-family: 'SFProText-100';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Ultralight.otf');
}

@font-face {
  font-family: 'SFProText-200';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Thin.otf');
}

@font-face {
  font-family: 'SFProText-300';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Light.otf');
}

@font-face {
  font-family: 'SFProText-400';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SFProText-500';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Medium.otf');
}

@font-face {
  font-family: 'SFProText-600';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Semibold.otf');
}

@font-face {
  font-family: 'SFProText-700';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SFProText-800';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Heavy.otf');
}

@font-face {
  font-family: 'SFProText-900';
  src: url('../public/fonts/SFProText/SF-Pro-Text-Black.otf');
}
